.KeyBoardButton {
    background-color: var(--key-bg-color);
    color: var(--text-color);
    font-family: 'Franklin';
    width: max-content;
    padding: 0 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 4px;
    &:hover {
        cursor: pointer;
        background-color: var(--key-hover-bg-color);
    }
}
